# Ignore sandbox and other temp files
*/sandbox/*
*/sandbox/
.DS_Store
*/__pycache__/
.RData
*/.RData
*/.Rhistory
.Rhistory
*.tmp
*~
*.yaml
myenv/*
.
..
*.aux
*.log
~$*

# Sensitive collaborator datasets are retained locally only.
data/Collaborator data/
